/* add repeating topo img */
.sub-nav {
  background-image: url("../img/ocean.jpg");
  background-position: center center;
  background-size: cover;
}

.vtrans-logo {
  /*margin-top: 1rem;*/
  content: "";
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  min-height: 30px;
  min-width: 120px;
  line-height: 0;
  background-size: 100% auto;
  background-image: url("../img/MOM AOT BLK.svg") !important;
}

.vtrans-logo #logo-drawer {
  padding: 1.1875rem 0;
}

#vtransparency {
  max-width: 250px;
  /*max-width: 100%;*/
}

#top-nav-title {
  padding: 0.5rem 0;
}
